#foodpics>img {
    width: 400px;
    border-radius: 20px;
    opacity: 90%;
}
#foodpics {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#recipes>ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#topcuisines>ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    background-color: darkorange;
    width: 400px;
    text-align: center;
    list-style-position: inside;
    justify-content: center;
    display: block;
    margin-left: 38%;
    margin-right: 40%;
    padding-right: 40px;
}
#topcuisines {
    justify-content: center;
    box-shadow: 5px 5px purple;
}
.headlines>h1, h3{
    justify-content: center;
    text-align: center ;
    font-size: 2em;
    text-decoration: wavy underline red;
    text-shadow: 5px 5px 10px purple;
}